<div class="row" *ngIf="pokemon">
    <div class="col-4">
        <div class="card">
            <img src="{{pokemon.sprite}}" alt="{{pokemon.name}}"
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>Name:</strong>
                    <p>{{pokemon.name | uppercase }}</p>
                </div>
                <div>
                    <strong>Height:</strong>
                    <p>{{pokemon.height | pokemonHeight}}</p>
                </div>
                <div>
                    <strong>Weight:</strong>
                    <p>{{pokemon.weight | pokemonWeight}}</p>
                </div>
            </div>
        </div>
    </div>
</div>